body{
	min-height: 3000px;
}

.navbar-brand {
	font-family: 'Nunito',sans-serif;
}

.jumbotron {
	padding-top: 6rem;
	background-color: #e2edff
}

#Gallery {
	background-color: #e2edff
} 


section{
	padding-top: 5rem;
}

#about{
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
